{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}">
  <link rel="stylesheet" href="{% static "css/app.css" %}">
  {% block css %}
  {% endblock %}
</head>
<body>

<h1>{{ heading }}</h1>

<div class="callout">
  <a class="button float-left">{{ button }}</a>
</div>

</br>

<h3>{{ listheader }}</h3>

<!-- Old List HTML, Remove later

<ul>
  {% for item in item_list %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>

-->

<div id="app-4">
  <!-- Uses "Show function of Vue to hide dynamic list -->
  <a class="button float-center" v-on:click="show = !show">Click to Hide List</a>
  <!-- Uses custom css in app.css to transition list out and in -->
  <transition name="fade">
    <ul>
      <!-- Uses "Show function of Vue to hide dynamic list -->
      <li v-if="show" v-for="todo in form">

          {% verbatim %}
          {{ todo.form }}
          {% endverbatim %}

      </li>
    </ul>
</transition>
</div>
<form action="/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="submit">
</form>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
