/* Only a copy of our CSS. CSS that is pulled by website is hosted on our S3 bucket */

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

a {
	color: rgba(255, 255, 255, 0.5);
}

a:hover {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none
}

a:visited {
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none
}

/*main header settings*/
.mainhead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image: url(" https://s3-us-west-1.amazonaws.com/cins465-evennia-project/blinkcurs.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.mainhead h1 {
	color: white;
}

.mainhead p {
	color: white;
}

.mainhead a href {
	color: white;
}

/*main header settings*/
.about {
	/*background-color: #293240*/
	background-color: #1e242f

}
.about h2 {
	color: white;
}
.about p {
	color: white;
}
.about ul {
	color: white;
}
.play {
	background-color: #28303e
}
.play h2 {
	color: white;
}
.play p {
	color: white;
}
.play ul {
	color: white;
}
.stats {
	background-color: #92a1b9
}

.bg-dark {
  background-color: #3c475d !important;
}

.list-group-item {
  background-color:  #d0d7e1
}

.login {
  background-color: #293240
}

.login h1{
  color: white
}
.login p{
  color: white
}
.login h3{
  color: white
}
.login label{
  color: white
}

.profile {
  background-color: #293240
}

.profile h1{
  color: white
}
.profile p{
  color: white
}
.profile h2{
  color: white
}
.profile label{
  color: white
}
